<!DOCTYPE html>
<html>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<head>
    <title>법령안(일부개정_법률)</title>
    <meta http_quiv="content-type" content="text/html; charset=utf-8">
    <!--link rel="stylesheet" type="text/css" href="zero.css"-->
    <script src="/ndrop.js"></script>
    <script src="//code.jquery.com/jquery-latest.min.js"></script>
</head>
<script>
    $(document).ready(function(){
        $('.basic').remove();

        $('.current_click').click(function(){
            $(this).text('●');
            $('.current_click').not($(this)).html('&nbsp;');
        });
        $('.current_txt').click(function(){
            $(this).prev().text('●');
            $('.current_click').not($(this).prev()).html('&nbsp;');
        });
    });


    function address_copy(){
        $('.zero_doc_1_address2').val($('.zero_doc_1_address1').val());
    }

</script>

<style>
    .tg  {border-collapse:collapse;border-spacing:0;}
    .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg .tg-0lax{text-align:center;vertical-align:top}
    .current_click, .current_txt{cursor: pointer;}
    .hce {margin:0;padding:0;position:absolute; border:1px solid #000;}
    .hme {margin:0;padding:0;position:absolute;}
    .hhe {margin:0;padding:0;position:relative;}
    .hhi {display:inline-block;margin:0;padding:0;position:relative;background-size:contain;}
    .hls {margin:0;padding:0;position:absolute;}
    .hfS {margin:0;padding:0;position:absolute;}
    .hcD {margin:0;padding:0;position:absolute;}
    .hcI {margin:0;padding:0;position:absolute;}
    .hcS {margin:0;padding:0;position:absolute;}
    .hfN {margin:0;padding:0;position:relative;}
    .hmB {margin:0;padding:0;position:absolute;}
    .hmO {margin:0;padding:0;position:absolute;}
    .hmT {margin:0;padding:0;position:absolute;}
    .hpN {display:inline-block;margin:0;padding:0;position:relative;white-space:nowrap;}
    .htC {display:inline-block;margin:0;padding:0;position:relative;vertical-align:top;overflow:hidden;}
    .haN {display:inline-block;margin:0;padding:0;position:relative;}
    .hdu {margin:0;padding:0;position:relative;}
    .hdS {margin:0;padding:0;position:absolute;}
    .hsC {margin:0;padding:0;position:absolute;}
    .hsR {margin:0;padding:0;position:absolute;}
    .hsG {margin:0;padding:0;position:absolute;}
    .hsL {margin:0;padding:0;position:absolute;}
    .hsT {margin:0;padding:0;position:absolute;overflow:hidden;}
    .hsE {margin:0;padding:0;position:absolute;overflow:hidden;}
    .hsA {margin:0;padding:0;position:absolute;overflow:hidden;}
    .hsP {margin:0;padding:0;position:absolute;overflow:hidden;}
    .hsV {margin:0;padding:0;position:absolute;overflow:hidden;}
    .hsO {margin:0;padding:0;position:absolute;}
    .hsU {margin:0;padding:0;position:absolute;overflow:hidden;}
    .hpi {margin:0;padding:0;position:absolute;}
    .hch {margin:0;padding:0;position:absolute;}
    .hcG {margin:0;padding:0;position:absolute;}
    .heq {margin:0;padding:0;position:absolute;}
    .heG {margin:0;padding:0;position:absolute;}
    .htA {margin:0;padding:0;position:absolute;}
    .hvi {margin:0;padding:0;position:absolute;}
    .htb {margin:0;padding:0;position:absolute;}
    .htG {margin:0;padding:0;position:absolute;}
    .hfJ {margin:0;padding:0;position:absolute;}
    .hfG {margin:0;padding:0;position:absolute;}
    .hfB {margin:0;padding:0;position:absolute;}
    .hfR {margin:0;padding:0;position:absolute;}
    .hfC {margin:0;padding:0;position:absolute;}
    .hfO {margin:0;padding:0;position:absolute;}
    .hfL {margin:0;padding:0;position:absolute;}
    .hfM {margin:0;padding:0;position:absolute;}
    .hfE {margin:0;padding:0;position:absolute;}
    .hpl {margin:0;padding:0;position:absolute;}
    .hs {margin:0;padding:0;position:absolute;overflow:visible;}
    .hpa {position:relative;padding:0;overflow:hidden;margin-right:0mm;margin-top:0mm;border:1px black solid;box-shadow:1mm 1mm 0 #AAAAAA;}
    .hpa::after {content:'';position:absolute;margin:0;padding:0;left:0;right:0;top:0;bottom:0;background-color:white;z-index:-2;}
    .hrt {display:inline-block;margin:0;padding:0;position:relative;white-space:inherit;vertical-align:middle;line-height:1.1;}
    .hco {display:inline-block;margin:0;padding:0;position:relative;white-space:inherit;}
    .hcc {margin:0;padding:0;position:absolute;}
    .hls {clear:both;}
    [onclick] {cursor:pointer;}
    .cs0 {font-size:10pt;color:#000000;font-family:"바탕";}
    .cs1 {font-size:10pt;color:#000000;font-family:"바탕";}
    .cs2 {font-size:14pt;color:#000000;font-family:"바탕";}
    .cs3 {font-size:14pt;color:#000000;font-family:"바탕";}
    .cs4 {font-size:14pt;color:#000000;font-family:"바탕체";}
    .cs5 {font-size:9.80pt;color:#000000;font-family:"-윤고딕110", "-윤고딕310";letter-spacing:-0.04em;}
    .cs6 {font-size:8pt;color:#000000;font-family:"돋움체";letter-spacing:-0.05em;}
    .cs7 {font-size:8pt;color:#000000;font-family:"돋움체";}
    .cs8 {font-size:8pt;color:#000000;font-family:"돋움";}
    .cs9 {font-size:10pt;color:#000000;font-family:"돋움체";}
    .cs10 {font-size:1pt;color:#000000;font-family:"돋움";}
    .cs11 {font-size:8pt;color:#000000;font-family:"돋움";letter-spacing:-0.01em;}
    .cs12 {font-size:9pt;color:#000000;font-family:"돋움체";letter-spacing:-0.02em;}
    .cs13 {font-size:8pt;color:#000000;font-family:"돋움체";letter-spacing:-0.01em;}
    .cs14 {font-size:4pt;color:#000000;font-family:"돋움체";}
    .cs15 {font-size:8pt;color:#000000;font-family:"돋움체";letter-spacing:-0.08em;}
    .cs16 {font-size:4pt;color:#000000;font-family:"돋움체";letter-spacing:-0.05em;}
    .cs17 {font-size:10pt;color:#000000;font-family:"돋움";letter-spacing:-0.04em;}
    .cs18 {font-size:1pt;color:#000000;font-family:"돋움";letter-spacing:-0.05em;}
    .cs19 {font-size:8pt;color:#000000;font-family:"돋움체";letter-spacing:-0.18em;}
    .cs20 {font-size:8pt;color:#000000;font-family:"돋움체";letter-spacing:-0.21em;}
    .cs21 {font-size:8pt;color:#000000;font-family:"돋움체";letter-spacing:-0.13em;}
    .cs22 {font-size:1pt;color:#000000;font-family:"바탕";}
    .cs23 {font-size:11pt;color:#000000;font-family:"맑은 고딕";}
    .cs24 {font-size:11pt;color:#000000;font-family:"바탕", "Times New Roman";letter-spacing:-0.03em;}
    .cs25 {font-size:10pt;color:#000000;font-family:"맑은 고딕";}
    .cs26 {font-size:16pt;color:#000000;font-family:"HY견고딕";font-weight:bold;}
    .cs27 {font-size:12pt;color:#000000;font-family:"맑은 고딕";letter-spacing:0.02em;}
    .cs28 {font-size:9pt;color:#000000;font-family:"맑은 고딕";letter-spacing:-0.08em;}
    .cs29 {font-size:9pt;color:#000000;font-family:"맑은 고딕";letter-spacing:-0.09em;}
    .cs30 {font-size:18pt;color:#000000;font-family:"HY견고딕";font-weight:bold;}
    .cs31 {font-size:10pt;color:#000000;font-family:"맑은 고딕";letter-spacing:-0.05em;}
    .cs32 {font-size:11pt;color:#000000;font-family:"맑은 고딕";letter-spacing:-0.05em;}
    .cs33 {font-size:9pt;color:#000000;font-family:"맑은 고딕";letter-spacing:-0.05em;}
    .cs34 {font-size:9pt;color:#000000;font-family:"맑은 고딕";letter-spacing:-0.05em;}
    .cs35 {font-size:9pt;color:#000000;font-family:"맑은 고딕";letter-spacing:-0.04em;}
    .cs36 {font-size:9pt;color:#000000;font-family:"맑은 고딕";}
    .cs37 {font-size:10pt;color:#000000;font-family:"맑은 고딕";letter-spacing:-0.03em;}
    .cs38 {font-size:9pt;color:#000000;font-family:"맑은 고딕";letter-spacing:-0.02em;}
    .cs39 {font-size:9pt;color:#000000;font-family:"맑은 고딕";letter-spacing:-0.01em;}
    .cs40 {font-size:9pt;color:#000000;font-family:"맑은 고딕";letter-spacing:-0.03em;}
    .cs41 {font-size:9pt;color:#000000;font-family:"맑은 고딕";letter-spacing:-0.03em;}
    .cs42 {font-size:9pt;color:#000000;font-family:"맑은 고딕";}
    .cs43 {font-size:1pt;color:#000000;font-family:"돋움체";letter-spacing:-0.02em;}
    .cs44 {font-size:9pt;color:#000000;font-family:"맑은 고딕";letter-spacing:-0.03em;font-weight:bold;}
    .cs45 {font-size:9pt;color:#000000;font-family:"맑은 고딕";font-weight:bold;}
    .cs46 {font-size:9pt;color:#000000;font-family:"돋움";}
    .cs47 {font-size:9pt;color:#000000;font-family:"돋움";letter-spacing:0.02em;}
    .cs48 {font-size:11pt;color:#000000;font-family:"돋움체";}
    .cs49 {font-size:11pt;color:#000000;font-family:"돋움체";letter-spacing:0.02em;}
    .cs50 {font-size:9pt;color:#000000;font-family:"돋움체";letter-spacing:-0.03em;}
    .cs51 {font-size:9pt;color:#000000;font-family:"돋움체";letter-spacing:-0.03em;font-weight:bold;}
    .cs52 {font-size:9pt;color:#000000;font-family:"돋움체";letter-spacing:-0.03em;font-weight:bold;}
    .cs53 {font-size:9pt;color:#000000;font-family:"돋움체";letter-spacing:0.02em;}
    .cs54 {font-size:9pt;color:#000000;font-family:"돋움";letter-spacing:0.02em;font-weight:bold;}
    .cs55 {font-size:10pt;color:#0000FF;font-family:"돋움체";letter-spacing:-0.02em;}
    .cs56 {font-size:10pt;color:#0000FF;font-family:"맑은 고딕";letter-spacing:-0.02em;}
    .cs57 {font-size:10pt;color:#000000;font-family:"맑은 고딕";}
    .cs58 {font-size:3pt;color:#000000;font-family:"맑은 고딕";letter-spacing:-0.03em;}
    .cs59 {font-size:5pt;color:#000000;font-family:"맑은 고딕";letter-spacing:-0.03em;}
    .cs60 {font-size:5pt;color:#000000;font-family:"돋움체";letter-spacing:-0.02em;}
    .cs61 {font-size:10pt;color:#000000;font-family:"돋움";}
    .cs62 {font-size:11pt;color:#000000;font-family:"바탕";letter-spacing:-0.10em;}
    .ps0 {text-align:justify;}
    .ps1 {text-align:justify;}
    .ps2 {text-align:justify;}
    .ps3 {text-align:justify;}
    .ps4 {text-align:center;}
    .ps5 {text-align:center;}
    .ps6 {text-align:center;}
    .ps7 {text-align:center;}
    .ps8 {text-align:right;}
    .ps9 {text-align:center;}
    .ps10 {text-align:center;}
    .ps11 {text-align:center;}
    .ps12 {text-align:justify;}
    .ps13 {text-align:justify;}
    .ps14 {text-align:center;}
    .ps15 {text-align:center;}
    .ps16 {text-align:center;}
    .ps17 {text-align:center;}
    .ps18 {text-align:justify;}
    .ps19 {text-align:justify;}
    .ps20 {text-align:justify;}
    .ps21 {text-align:justify;}
    .ps22 {text-align:justify;}
    .ps23 {text-align:justify;}
    .ps24 {text-align:justify;}
    .ps25 {text-align:justify;}
    .ps26 {text-align:justify;}
    .ps27 {text-align:justify;}
    .ps28 {text-align:center;}
    .ps29 {text-align:center;}
    .ps30 {text-align:justify;}
    .ps31 {text-align:left;}
    .ps32 {text-align:justify;}
    .ps33 {text-align:center;}
    .ps34 {text-align:justify;}
    .ps35 {text-align:justify;}
    .ps36 {text-align:center;}
    .ps37 {text-align:center;}
    .ps38 {text-align:center;}
    .ps39 {text-align:left;}
    .ps40 {text-align:center;}
    .ps41 {text-align:center;}
    .ps42 {text-align:left;}
    .ps43 {text-align:center;}
    .ps44 {text-align:justify;}
    .ps45 {text-align:right;}
    .ps46 {text-align:justify;}
    .ps47 {text-align:center;}
    .ps48 {text-align:center;}
    .ps49 {text-align:center;}
    .ps50 {text-align:left;}
    .ps51 {text-align:center;}
    .ps52 {text-align:right;}
    .ps53 {text-align:left;}
    .ps54 {text-align:center;}
    .ps55 {text-align:right;}
    .ps56 {text-align:right;}
    .inputtxt2{
        width:420px;
        height:20px;
        font-size:18px;
        text-align: center;
        overflow: hidden;
        resize:none;
        border:none;
        margin-top:1px;
        color:#000;
    }
    .zero_doc_1_address1,.zero_doc_1_address2{
        overflow: hidden; /* 스크롤바를 숨김 */
        white-space: pre-wrap; /* 자동 줄바꿈 허용 */
        word-wrap: break-word; /* 긴 단어를 줄바꿈 */
    }
    
</style>
<body>
    <div class="hpa" style="width:210mm;height:297mm;">
        <div class="hcD" style="left:20mm;top:20mm;">
            <div class="hcI">
                <div class="hls ps1"
                    style="line-height:266.37mm;white-space:nowrap;left:0mm;top:0mm;height:266.37mm;width:170mm;">
                    <div class="htb"
                        style="left:0.49mm;width:175.39mm;top:0.49mm;height:266.37mm;display:inline-block;position:relative;vertical-align:middle;">
                        <svg class="hs" viewBox="-2.50 -2.50 180.39 271.37"
                            style="left:-2.50mm;top:-2.50mm;width:180.39mm;height:271.37mm;">
                            <defs>
                                <pattern id="w_00" width="10" height="10" patternUnits="userSpaceOnUse">
                                    <rect width="10" height="10" fill="rgb(187,187,187)" />
                                </pattern>
                            </defs>
                            <path fill="url(#w_ff)" d="M0,32.34L17.64,32.34L17.64,37.34L0,37.34L0,32.34Z "></path>
                            <path fill="url(#w_ff)" d="M17.64,32.34L42.69,32.34L42.69,37.34L17.64,37.34L17.64,32.34Z ">
                            </path>
                            <path fill="url(#w_ff)" d="M42.69,32.34L61.39,32.34L61.39,37.34L42.69,37.34L42.69,32.34Z ">
                            </path>
                            <path fill="url(#w_ff)"
                                d="M61.39,32.34L113.72,32.34L113.72,37.34L61.39,37.34L61.39,32.34Z "></path>
                            <path fill="url(#w_ff)"
                                d="M113.72,32.34L132.54,32.34L132.54,37.34L113.72,37.34L113.72,32.34Z "></path>
                            <path fill="url(#w_ff)"
                                d="M132.54,32.34L174.42,32.34L174.42,37.34L132.54,37.34L132.54,32.34Z "></path>
                            <path fill="url(#w_ff)" d="M0,209.75L174.42,209.75L174.42,215.07L0,215.07L0,209.75Z ">
                            </path>
                            <path fill="url(#w_ff)" d="M0,239.92L174.42,239.92L174.42,244.65L0,244.65L0,239.92Z ">
                            </path>
                            <path d="M0,245.98 L0,253.69" style="stroke-linecap:butt;stroke-width:0.12;">
                            </path>
                            <path d="M16.36,38.20 L16.36,66.72"
                                style="stroke-linecap:butt;stroke-width:0.12;"></path>
                            <path d="M16.36,67.57 L16.36,133.06"
                                style="stroke-linecap:butt;stroke-width:0.12;"></path>
                            <path d="M19.63,188.77 L19.63,207.37"
                                style="stroke-linecap:butt;stroke-width:0.12;"></path>
                            <path d="M31.41,245.98 L31.41,253.69"
                                style="stroke-linecap:butt;stroke-width:0.12;"></path>
                            <path d="M38.85,245.98 L38.85,253.69"
                                style="stroke-linecap:butt;stroke-width:0.12;"></path>
                            <path d="M42.69,32.34 L42.69,37.35"
                                style="stroke-linecap:butt;stroke-width:0.12;"></path>
                            <path d="M42.69,38.20 L42.69,66.72"
                                style="stroke-linecap:butt;stroke-width:0.12;"></path>
                            <path d="M42.69,67.57 L42.69,133.06"
                                style="stroke-linecap:butt;stroke-width:0.12;"></path>
                            <path d="M70.38,38.20 L70.38,47.71"
                                style="stroke-linecap:butt;stroke-width:0.12;"></path>
                            <path d="M81.24,245.98 L81.24,253.69"
                                style="stroke-linecap:butt;stroke-width:0.12;"></path>
                            <path d="M87.69,245.98 L87.69,253.69"
                                style="stroke-linecap:butt;stroke-width:0.12;"></path>
                            <path d="M91.38,38.20 L91.38,47.71"
                                style="stroke-linecap:butt;stroke-width:0.12;"></path>
                            <path d="M105.74,67.57 L105.74,85.80"
                                style="stroke-linecap:butt;stroke-width:0.12;"></path>
                            <path d="M113.72,32.34 L113.72,37.35"
                                style="stroke-linecap:butt;stroke-width:0.12;"></path>
                            <path d="M125.09,38.20 L125.09,47.71"
                                style="stroke-linecap:butt;stroke-width:0.12;"></path>
                            <path d="M125.09,245.98 L125.09,253.69"
                                style="stroke-linecap:butt;stroke-width:0.12;"></path>
                            <path d="M132.54,245.98 L132.54,253.69"
                                style="stroke-linecap:butt;stroke-width:0.12;"></path>
                            <path d="M139.54,67.57 L139.54,85.80"
                                style="stroke-linecap:butt;stroke-width:0.12;"></path>
                            <path d="M156.40,38.20 L156.40,47.71"
                                style="stroke-linecap:butt;stroke-width:0.12;"></path>
                            <path d="M156.40,188.77 L156.40,207.37"
                                style="stroke-linecap:butt;stroke-width:0.12;"></path>
                            <path d="M174.42,245.98 L174.42,253.69"
                                style="stroke-linecap:butt;stroke-width:0.12;"></path>
                            <path d="M-0.06,32.34 L174.48,32.34"
                                style="stroke-linecap:butt;stroke-width:0.12;"></path>
                            <path d="M-0.06,37.34 L174.48,37.34"
                                style="stroke-linecap:butt;stroke-width:0.12;"></path>
                            <path d="M-0.06,38.20 L174.48,38.20"
                                style="stroke-linecap:butt;stroke-width:0.12;"></path>
                            <path d="M16.31,47.70 L174.48,47.70"
                                style="stroke-linecap:butt;stroke-width:0.12;"></path>
                            <path d="M16.31,57.21 L174.48,57.21"
                                style="stroke-linecap:butt;stroke-width:0.12;"></path>
                            <path d="M-0.06,66.72 L174.48,66.72"
                                style="stroke-linecap:butt;stroke-width:0.12;"></path>
                            <path d="M-0.06,67.57 L174.48,67.57"
                                style="stroke-linecap:butt;stroke-width:0.12;"></path>
                            <path d="M16.31,76.68 L174.48,76.68"
                                style="stroke-linecap:butt;stroke-width:0.12;"></path>
                            <path d="M16.31,85.79 L174.48,85.79"
                                style="stroke-linecap:butt;stroke-width:0.12;"></path>
                            <path d="M16.31,94.90 L174.48,94.90"
                                style="stroke-linecap:butt;stroke-width:0.12;"></path>
                            <path d="M16.31,104.02 L42.76,104.02"
                                style="stroke-linecap:butt;stroke-width:0.12;"></path>
                            <path d="M42.64,104.02 L174.48,104.02"
                                style="stroke-linecap:butt;stroke-width:0.12;"></path>
                            <path d="M42.64,104.02 L174.48,104.02"
                                style="stroke-linecap:butt;stroke-width:0.12;"></path>
                            <path d="M16.31,121.72 L174.48,121.72"
                                style="stroke-linecap:butt;stroke-width:0.12;"></path>
                            <path d="M-0.06,133.06 L174.48,133.06"
                                style="stroke-linecap:butt;stroke-width:0.12;"></path>
                            <path d="M-0.25,186.97 L174.67,186.97"
                                style="stroke-linecap:butt;stroke-width:0.70;"></path>
                            <path d="M-0.25,188.77 L174.67,188.77"
                                style="stroke-linecap:butt;stroke-width:0.15;"></path>
                            <path d="M-0.06,196.24 L156.46,196.24"
                                style="stroke-linecap:butt;stroke-width:0.12;"></path>
                            <path d="M-0.06,207.37 L19.70,207.37"
                                style="stroke-linecap:butt;stroke-width:0.12;"></path>
                            <path d="M-0.05,207.37 L174.48,207.37"
                                style="stroke-linecap:butt;stroke-width:0.15;"></path>
                            <path d="M19.58,207.37 L174.48,207.37"
                                style="stroke-linecap:butt;stroke-width:0.12;"></path>
                            <path d="M-0.05,209.75 L174.48,209.75"
                                style="stroke-linecap:butt;stroke-width:0.12;"></path>
                            <path d="M-0.05,209.75 L174.47,209.75"
                                style="stroke-linecap:butt;stroke-width:0.70;"></path>
                            <path d="M-0.05,215.07 L174.48,215.07"
                                style="stroke-linecap:butt;stroke-width:0.12;"></path>
                            <path d="M-0.06,237.54 L174.48,237.54"
                                style="stroke-linecap:butt;stroke-width:0.12;"></path>
                            <path d="M-0.05,239.92 L174.47,239.92"
                                style="stroke-linecap:butt;stroke-width:0.12;"></path>
                            <path d="M-0.25,239.92 L174.67,239.92"
                                style="stroke-linecap:butt;stroke-width:0.70;"></path>
                            <path d="M-0.25,244.65 L174.67,244.65"
                                style="stroke-linecap:butt;stroke-width:0.12;"></path>
                            <path d="M-0.06,245.98 L31.47,245.98"
                                style="stroke-linecap:butt;stroke-width:0.12;"></path>
                            <path d="M38.80,245.98 L81.31,245.98"
                                style="stroke-linecap:butt;stroke-width:0.12;"></path>
                            <path d="M87.64,245.98 L125.15,245.98"
                                style="stroke-linecap:butt;stroke-width:0.12;"></path>
                            <path d="M132.48,245.98 L174.48,245.98"
                                style="stroke-linecap:butt;stroke-width:0.12;"></path>
                            <path d="M-0.06,253.68 L31.47,253.68"
                                style="stroke-linecap:butt;stroke-width:0.12;"></path>
                            <path d="M38.80,253.68 L81.31,253.68"
                                style="stroke-linecap:butt;stroke-width:0.12;"></path>
                            <path d="M87.64,253.68 L125.15,253.68"
                                style="stroke-linecap:butt;stroke-width:0.12;"></path>
                            <path d="M132.48,253.68 L174.48,253.68"
                                style="stroke-linecap:butt;stroke-width:0.12;"></path>
                            <path d="M-0.06,261.58 L174.48,261.58"
                                style="stroke-linecap:butt;stroke-width:0.12;"></path>
                            <path d="M174.42,245.98 L174.42,253.69"
                                style="stroke-linecap:butt;stroke-width:0.12;"></path>
                            <path d="M0,245.98 L0,253.69" style="stroke-linecap:butt;stroke-width:0.12;">
                            </path>
                            <path d="M-0.06,261.58 L174.48,261.58"
                                style="stroke-linecap:butt;stroke-width:0.12;"></path>
                            <path d="M-0.06,32.34 L174.48,32.34"
                                style="stroke-linecap:butt;stroke-width:0.12;"></path>
                        </svg>
                        <div class="hce" style="left:0mm;top:0mm;width:174.42mm;height:4.87mm;">
                            <div class="hcD" style="left:0.49mm;top:0.49mm;">
                                <div class="hcI">
                                    <div class="hls ps18"
                                        style="line-height:2.48mm;white-space:nowrap;left:0mm;top:-0.16mm;height:3.17mm;width:173.44mm;">
                                        <span class="hrt cs41">■ 노인장기요양보험법 시행규칙 [별지 제10호서식] &lt;개정 2021. 1.
                                            18.&gt;</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:0mm;top:4.87mm;width:174.42mm;height:22.30mm;">
                            <div class="hcD" style="left:0.50mm;top:1mm;">
                                <div class="hcI" style="top:3.20mm;">
                                    <div class="hls ps4"
                                        style="line-height:5.52mm;white-space:nowrap;left:0mm;top:-0.32mm;height:6.35mm;width:173.43mm;">
                                        <span class="hrt cs30">장기요양기관 입소·이용신청서</span></div>
                                    <div class="hls ps7"
                                        style="line-height:4.80mm;white-space:nowrap;left:0mm;top:7.97mm;height:5.64mm;width:173.43mm;">
                                        <span class="hrt cs26">([<span class="current_click" onclick="(function(el, opt) { const allRadios = document.querySelectorAll('.current_click'); allRadios.forEach(r => { r.innerHTML = '&nbsp;' }); el.innerHTML = '●'; console.log('선택된 옵션:', opt); })(this, '신규신청')">●</span>] <span class="current_txt" onclick="(function(el, opt) { const allRadios = document.querySelectorAll('.current_click'); allRadios.forEach(r => { r.innerHTML = '&nbsp;' }); el.innerHTML = '●'; console.log('선택된 옵션:', opt); })(this.previousElementSibling, '신규신청')">신규신청</span> [ <span class="current_click" onclick="(function(el, opt) { const allRadios = document.querySelectorAll('.current_click'); allRadios.forEach(r => { r.innerHTML = '&nbsp;' }); el.innerHTML = '●'; console.log('선택된 옵션:', opt); })(this, '갱신')">&#160;</span>]<span class="current_txt" onclick="(function(el, opt) { const allRadios = document.querySelectorAll('.current_click'); allRadios.forEach(r => { r.innerHTML = '&nbsp;' }); el.innerHTML = '●'; console.log('선택된 옵션:', opt); })(this.previousElementSibling, '갱신')">갱신</span> [ <span class="current_click" onclick="(function(el, opt) { const allRadios = document.querySelectorAll('.current_click'); allRadios.forEach(r => { r.innerHTML = '&nbsp;' }); el.innerHTML = '●'; console.log('선택된 옵션:', opt); })(this, '변경')">&#160;</span>]<span class="current_txt" onclick="(function(el, opt) { const allRadios = document.querySelectorAll('.current_click'); allRadios.forEach(r => { r.innerHTML = '&nbsp;' }); el.innerHTML = '●'; console.log('선택된 옵션:', opt); })(this.previousElementSibling, '변경')">변경</span> [ <span class="current_click" onclick="(function(el, opt) { const allRadios = document.querySelectorAll('.current_click'); allRadios.forEach(r => { r.innerHTML = '&nbsp;' }); el.innerHTML = '●'; console.log('선택된 옵션:', opt); })(this, '해지')">&#160;</span>]<span class="current_txt" onclick="(function(el, opt) { const allRadios = document.querySelectorAll('.current_click'); allRadios.forEach(r => { r.innerHTML = '&nbsp;' }); el.innerHTML = '●'; console.log('선택된 옵션:', opt); })(this.previousElementSibling, '해지')">해지</span>)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:0mm;top:27.17mm;width:162.09mm;height:5.17mm;">
                            <div class="hcD" style="left:0.50mm;top:1mm;">
                                <div class="hcI">
                                    <div class="hls ps1"
                                        style="line-height:2.48mm;white-space:nowrap;left:0mm;top:-0.16mm;height:3.17mm;width:161.09mm;">
                                        <span class="hrt cs41">※ 어두운 란은 신청인이 적지 않고, ［ ］에는 해당되는 곳에 √표를 합니다.</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:162.09mm;top:27.17mm;width:12.33mm;height:5.17mm;">
                            <div class="hcD" style="left:0.50mm;top:1mm;">
                                <div class="hcI">
                                    <div class="hls ps8"
                                        style="line-height:2.48mm;white-space:nowrap;left:0mm;top:-0.16mm;height:3.17mm;width:11.33mm;">
                                        <span class="hrt cs41">(앞쪽)</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:0mm;top:32.34mm;width:17.64mm;height:5.01mm;">
                            <div class="hcD" style="left:1mm;top:1mm;">
                                <div class="hcI" style="top:0.17mm;">
                                    <div class="hls ps40"
                                        style="line-height:2.48mm;white-space:nowrap;left:0mm;top:-0.16mm;height:3.17mm;width:15.64mm;">
                                        <span class="hrt cs41">접수번호</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:17.64mm;top:32.34mm;width:25.06mm;height:5.01mm;">
                            <div class="hcD" style="left:1mm;top:1mm;">
                                <div class="hcI" style="top:0.17mm;">
                                    <div class="hls ps41"
                                        style="line-height:2.48mm;white-space:nowrap;left:0mm;top:-0.16mm;height:3.17mm;width:23.06mm;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:42.69mm;top:32.34mm;width:18.70mm;height:5.01mm;">
                            <div class="hcD" style="left:1mm;top:1mm;">
                                <div class="hcI" style="top:0.17mm;">
                                    <div class="hls ps40"
                                        style="line-height:2.48mm;white-space:nowrap;left:0mm;top:-0.16mm;height:3.17mm;width:16.69mm;">
                                        <span class="hrt cs41">접수일시</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:61.39mm;top:32.34mm;width:52.33mm;height:5.01mm;">
                            <div class="hcD" style="left:1mm;top:1mm;">
                                <div class="hcI" style="top:0.17mm;">
                                    <div class="hls ps40"
                                        style="line-height:2.48mm;white-space:nowrap;left:0mm;top:-0.16mm;height:3.17mm;width:50.33mm;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:113.72mm;top:32.34mm;width:18.81mm;height:5.01mm;">
                            <div class="hcD" style="left:1mm;top:1mm;">
                                <div class="hcI" style="top:0.17mm;">
                                    <div class="hls ps42"
                                        style="line-height:2.48mm;white-space:nowrap;left:0mm;top:-0.16mm;height:3.17mm;width:16.81mm;">
                                        <span class="hrt cs41">처리기간</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:132.54mm;top:32.34mm;width:41.88mm;height:5.01mm;">
                            <div class="hcD" style="left:1mm;top:1mm;">
                                <div class="hcI" style="top:0.17mm;">
                                    <div class="hls ps39"
                                        style="line-height:2.48mm;white-space:nowrap;left:0mm;top:-0.16mm;height:3.17mm;width:39.88mm;">
                                        <span class="hrt cs41">7일이내</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:0mm;top:37.34mm;width:174.42mm;height:0.85mm;">
                            <div class="hcD" style="left:1mm;top:0mm;">
                                <div class="hcI">
                                    <div class="hls ps19"
                                        style="line-height:0.25mm;white-space:nowrap;left:0mm;top:-0.02mm;height:0.35mm;width:172.42mm;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:0mm;top:38.20mm;width:16.36mm;height:28.52mm;">
                            <div class="hcD" style="left:1mm;top:1mm;">
                                <div class="hcI" style="top:10.91mm;">
                                    <div class="hls ps17"
                                        style="line-height:3.86mm;white-space:nowrap;left:0mm;top:0mm;height:4.70mm;width:14.37mm;">
                                        <span class="hrt cs37">신청인</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:16.36mm;top:38.20mm;width:26.33mm;height:9.51mm;">
                            <div class="hcD" style="left:1mm;top:1mm;">
                                <div class="hcI" style="top:1.41mm;">
                                    <div class="hls ps17"
                                        style="line-height:3.86mm;white-space:nowrap;left:0mm;top:0mm;height:4.70mm;width:24.33mm;">
                                        <span class="hrt cs37">성명</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:42.69mm;top:38.20mm;width:27.69mm;height:9.51mm;">
                            <div class="hcD" style="left:1mm;top:1mm;">
                                <div class="hcI" style="top:2.17mm;">
                                    <div class="hls ps16"
                                        style="line-height:2.48mm;white-space:nowrap;left:0mm;top:-0.16mm;height:3.17mm;width:25.68mm;">
                                        <span class="hrt cs48 req_name name">&nbsp;</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:70.38mm;top:38.20mm;width:21mm;height:9.51mm;">
                            <div class="hcD" style="left:1mm;top:1mm;">
                                <div class="hcI" style="top:1.41mm;">
                                    <div class="hls ps17"
                                        style="line-height:3.86mm;white-space:nowrap;left:0mm;top:0mm;height:4.70mm;width:18.99mm;">
                                        <span class="hrt cs37">생년월일</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:91.38mm;top:38.20mm;width:33.71mm;height:9.51mm;">
                            <div class="hcD" style="left:1mm;top:1mm;">
                                <div class="hcI" style="top:2.17mm;">
                                    <div class="hls ps16"
                                        style="line-height:2.48mm;white-space:nowrap;left:0mm;top:-0.16mm;height:3.17mm;width:31.71mm;">
                                        <span class="hrt cs9 req_resident resident"></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:125.09mm;top:38.20mm;width:31.31mm;height:9.51mm;">
                            <div class="hcD" style="left:1mm;top:1mm;">
                                <div class="hcI" style="top:1.41mm;">
                                    <div class="hls ps43"
                                        style="line-height:3.86mm;white-space:nowrap;left:0mm;top:0mm;height:4.70mm;width:29.31mm;">
                                        <span class="hrt cs37">수급자와의 관계</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:156.40mm;top:38.20mm;width:18.02mm;height:9.51mm;">
                            <div class="hcD" style="left:1mm;top:1mm;">
                                <div class="hcI" style="top:2.17mm;">
                                    <div class="hls ps16"
                                        style="line-height:2.48mm;white-space:nowrap;left:0mm;top:-0.16mm;height:3.17mm;width:16.02mm;">
                                        <span class="hrt cs9 req_guardtarget guardtarget">본인</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:16.36mm;top:47.70mm;width:26.33mm;height:9.51mm;">
                            <div class="hcD" style="left:1mm;top:1mm;">
                                <div class="hcI" style="top:1.41mm;">
                                    <div class="hls ps17"
                                        style="line-height:3.86mm;white-space:nowrap;left:0mm;top:0mm;height:4.70mm;width:24.33mm;">
                                        <span class="hrt cs37">주소</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:42.69mm;top:47.70mm;width:131.73mm;height:9.51mm;">
                            <div class="hcD" style="left:1mm;top:1mm;">
                                <div class="hcI" style="top:1.17mm;">
                                    <div class="hls ps16"
                                        style="line-height:2.48mm;white-space:nowrap;left:0mm;top:-0.16mm;height:3.17mm;width:129.72mm;">
                                        <textarea class="hrt cs9 address zero_doc_1_address1" style="width:100%; border:0; resize:none; text-align:center;" onchange="address_copy()"></textarea></div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:16.36mm;top:57.21mm;width:26.33mm;height:9.51mm;">
                            <div class="hcD" style="left:1mm;top:1mm;">
                                <div class="hcI" style="top:1.41mm;">
                                    <div class="hls ps17"
                                        style="line-height:3.86mm;white-space:nowrap;left:0mm;top:0mm;height:4.70mm;width:24.33mm;">
                                        <span class="hrt cs37">전화번호</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:42.69mm;top:57.21mm;width:131.73mm;height:9.51mm;">
                            <div class="hcD" style="left:1mm;top:1mm;">
                                <div class="hcI" style="top:3.98mm;">
                                    <div class="hls ps56"
                                        style="line-height:2.79mm;white-space:nowrap;left:0mm;top:-0.18mm;height:3.53mm;width:129.72mm;">
                                        <span class="hrt cs61">(휴대전화: <span class="pdfphone1 phone1"></span>)</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:0mm;top:66.72mm;width:174.42mm;height:0.85mm;">
                            <div class="hcD" style="left:1mm;top:0mm;">
                                <div class="hcI">
                                    <div class="hls ps16"
                                        style="line-height:0.25mm;white-space:nowrap;left:0mm;top:-0.02mm;height:0.35mm;width:172.42mm;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:0mm;top:67.57mm;width:16.36mm;height:65.49mm;">
                            <div class="hcD" style="left:1mm;top:1mm;">
                                <div class="hcI" style="top:29.40mm;">
                                    <div class="hls ps16"
                                        style="line-height:3.86mm;white-space:nowrap;left:0mm;top:0mm;height:4.70mm;width:14.37mm;">
                                        <span class="hrt cs37">수급자</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:16.36mm;top:67.57mm;width:26.33mm;height:9.11mm;">
                            <div class="hcD" style="left:1mm;top:1mm;">
                                <div class="hcI" style="top:1.21mm;">
                                    <div class="hls ps17"
                                        style="line-height:3.86mm;white-space:nowrap;left:0mm;top:0mm;height:4.70mm;width:24.33mm;">
                                        <span class="hrt cs37">성명</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:42.69mm;top:67.57mm;width:63.04mm;height:9.11mm;">
                            <div class="hcD" style="left:1mm;top:1mm;">
                                <div class="hcI" style="top:1.97mm;">
                                    <div class="hls ps16"
                                        style="line-height:2.48mm;white-space:nowrap;left:0mm;top:-0.16mm;height:3.17mm;width:61.04mm;">
                                        <span class="hrt cs9 name"> &nbsp;</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:105.74mm;top:67.57mm;width:33.80mm;height:9.11mm;">
                            <div class="hcD" style="left:1mm;top:1mm;">
                                <div class="hcI" style="top:1.21mm;">
                                    <div class="hls ps17"
                                        style="line-height:3.86mm;white-space:nowrap;left:0mm;top:0mm;height:4.70mm;width:31.81mm;">
                                        <span class="hrt cs37">주민등록번호</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:139.54mm;top:67.57mm;width:34.88mm;height:9.11mm;">
                            <div class="hcD" style="left:1mm;top:1mm;">
                                <div class="hcI" style="top:1.97mm;">
                                    <div class="hls ps16"
                                    style="line-height:2.48mm;white-space:nowrap;left:0mm;top:-2.16mm;height:3.17mm;width:32.88mm;">
                                    <input type="text" style="height:25px; width:110px;" class="hrt cs9 regident2 resident2">&nbsp;</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:16.36mm;top:76.68mm;width:26.33mm;height:9.11mm;">
                            <div class="hcD" style="left:1mm;top:1mm;">
                                <div class="hcI" style="top:1.21mm;">
                                    <div class="hls ps17"
                                        style="line-height:3.86mm;white-space:nowrap;left:0mm;top:0mm;height:4.70mm;width:24.33mm;">
                                        <span class="hrt cs37">장기요양등급</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:42.69mm;top:76.68mm;width:63.04mm;height:9.11mm;">
                            <div class="hcD" style="left:1mm;top:1mm;">
                                <div class="hcI" style="top:1.97mm;">
                                    <div class="hls ps16"
                                        style="line-height:2.48mm;white-space:nowrap;left:0mm;top:-0.16mm;height:3.17mm;width:61.04mm;">
                                        <span class="hrt cs9 ranker"></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:105.74mm;top:76.68mm;width:33.80mm;height:9.11mm;">
                            <div class="hcD" style="left:1mm;top:1mm;">
                                <div class="hcI" style="top:1.21mm;">
                                    <div class="hls ps17"
                                        style="line-height:3.86mm;white-space:nowrap;left:0mm;top:0mm;height:4.70mm;width:31.81mm;">
                                        <span class="hrt cs37">장기요양인정번호</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:139.54mm;top:76.68mm;width:34.88mm;height:9.11mm;">
                            <div class="hcD" style="left:1mm;top:1mm;">
                                <div class="hcI" style="top:1.97mm;">
                                    <div class="hls ps16"
                                        style="line-height:2.48mm;white-space:nowrap;left:0mm;top:-0.16mm;height:3.17mm;width:32.88mm;">
                                        <span class="hrt cs9 number"></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:16.36mm;top:85.79mm;width:26.33mm;height:9.11mm;">
                            <div class="hcD" style="left:1mm;top:1mm;">
                                <div class="hcI" style="top:1.21mm;">
                                    <div class="hls ps17"
                                        style="line-height:3.86mm;white-space:nowrap;left:0mm;top:0mm;height:4.70mm;width:24.33mm;">
                                        <span class="hrt cs37">주소</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:42.69mm;top:85.79mm;width:131.73mm;height:9.11mm;">
                            <div class="hcD" style="left:1mm;top:1mm;">
                                <div class="hcI" style="top:1.17mm;">
                                    <div class="hls ps16"
                                        style="line-height:2.48mm;white-space:nowrap;left:0mm;top:-0.16mm;height:3.17mm;width:129.72mm;">
                                        <textarea class="hrt cs9 address zero_doc_1_address2" style="width:100%; border:0; resize:none; text-align:center;">&nbsp;</textarea></div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:16.36mm;top:94.90mm;width:26.33mm;height:9.11mm;">
                            <div class="hcD" style="left:1mm;top:1mm;">
                                <div class="hcI" style="top:1.21mm;">
                                    <div class="hls ps17"
                                        style="line-height:3.86mm;white-space:nowrap;left:0mm;top:0mm;height:4.70mm;width:24.33mm;">
                                        <span class="hrt cs37">전화번호</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:42.69mm;top:94.90mm;width:131.73mm;height:9.11mm;">
                            <div class="hcD" style="left:1mm;top:1mm;">
                                <div class="hcI" style="top:3.59mm;">
                                    <div class="hls ps56"
                                        style="line-height:2.79mm;white-space:nowrap;left:0mm;top:-0.18mm;height:3.53mm;width:129.72mm;">
                                        <span class="hrt cs61">(휴대전화: <span class="pdfphone1 phone1"></span> )</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:16.36mm;top:104.02mm;width:26.33mm;height:17.71mm;">
                            <div class="hcD" style="left:1mm;top:1mm;">
                                <div class="hcI" style="top:2.45mm;">
                                    <div class="hls ps17"
                                        style="line-height:3.86mm;white-space:nowrap;left:0mm;top:0mm;height:4.70mm;width:24.33mm;">
                                        <span class="hrt cs37">입소·이용 희망&nbsp;</span></div>
                                    <div class="hls ps17"
                                        style="line-height:3.86mm;white-space:nowrap;left:0mm;top:6.11mm;height:4.70mm;width:24.33mm;">
                                        <span class="hrt cs37">장기요양기관</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:42.69mm;top:104.02mm;width:131.73mm;height:17.71mm;">
                            <div class="hcD" style="left:1mm;top:1mm;">
                                <div class="hcI" style="top:0.50mm;">
                                    <div class="hls ps32"
                                        style="line-height:2.48mm;white-space:nowrap;left:1.76mm;top:-0.16mm;height:3.17mm;width:126.20mm;">
                                        <span class="hrt cs44">- 기관명 : <span class="company companyName"></span></span></div>
                                    <div class="hls ps32"
                                        style="line-height:2.48mm;white-space:nowrap;left:1.76mm;top:3.02mm;height:3.17mm;width:126.20mm;">
                                        <span class="hrt cs44">- 기관기호 : <span class="companynum cnum"></span></span></div>
                                    <div class="hls ps32"
                                        style="line-height:2.48mm;white-space:nowrap;left:1.76mm;top:6.52mm;height:3.17mm;width:126.20mm;">
                                        <span class="hrt cs44">- 기관주소 : <span class="companyaddress companyAddress"></span></span></div>
                                    <div class="hls ps35"
                                        style="line-height:3.42mm;white-space:nowrap;left:0mm;top:10.48mm;height:4.23mm;width:129.72mm;">
                                        <span class="hrt cs45">( 기관 전화번호: <span class="companyphone companyPhone"></span>, FAX : <span class="companyfax"></span>, 이메일 : <span class="companymember_email"></span>)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:16.36mm;top:121.72mm;width:26.33mm;height:11.33mm;">
                            <div class="hcD" style="left:1mm;top:1mm;">
                                <div class="hcI" style="top:2.32mm;">
                                    <div class="hls ps16"
                                        style="line-height:3.86mm;white-space:nowrap;left:0mm;top:0mm;height:4.70mm;width:24.33mm;">
                                        <span class="hrt cs37">구분&nbsp;</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:42.69mm;top:121.72mm;width:131.73mm;height:11.33mm;">
                            <div class="hcD" style="left:1mm;top:1mm;">
                                <div class="hcI" style="top:1.17mm;">
                                    <div class="hls ps13"
                                        style="line-height:2.48mm;white-space:nowrap;left:0mm;top:-0.16mm;height:3.17mm;width:129.72mm;">
                                        <span class="hrt cs41">&nbsp;[<span class="chk1">&nbsp;</span>] 「의료급여법」 제3조제1항제1호에 따른 의료급여를 받는 사람</span></div>
                                    <div class="hls ps13"
                                        style="line-height:2.48mm;white-space:nowrap;left:0mm;top:3.65mm;height:3.17mm;width:129.72mm;">
                                        <span class="hrt cs41">&nbsp;[<span class="chk2">&nbsp;</span>] 「의료급여법」 제3조제1항제1호 외의 규정에 따른 의료급여를 받는
                                            사람</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:0mm;top:133.06mm;width:174.42mm;height:7.80mm;">
                            <div class="hcD" style="left:0.49mm;top:0.49mm;">
                                <div class="hcI" style="top:1.30mm;">
                                    <div class="hls ps53"
                                        style="line-height:3.42mm;white-space:nowrap;left:0mm;top:0mm;height:4.23mm;width:173.44mm;">
                                        <span class="hrt cs46">&nbsp;&nbsp;&nbsp;</span><span
                                            class="hrt cs41">「노인장기요양보험법 시행규칙」 제16조제5항에 따라 장기요양기관 입소·이용을 위와 같이
                                            신청합니다.&nbsp;</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:0mm;top:140.85mm;width:174.42mm;height:7.52mm;">
                            <div class="hcD" style="left:0.49mm;top:0.49mm;">
                                <div class="hcI" style="top:1.69mm;">
                                    <div class="hls ps55"
                                        style="line-height:2.48mm;white-space:nowrap;left:2.65mm;top:-0.16mm;height:3.17mm;width:168.15mm;">
                                        <span class="hrt cs41 pdfday"></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:0mm;top:148.37mm;width:174.42mm;height:30.93mm;">
                            <div class="hcD" style="left:0.49mm;top:0.49mm;">
                                <div class="hcI">
                                    <div class="hls ps45"
                                        style="line-height:2.48mm;white-space:nowrap;left:2.65mm;top:1.61mm;height:3.17mm;width:170.79mm;">
                                        <span class="hrt cs41">신청인: <span class="name resident_name"></span><span style="position:relative;" class="pdfsign resident_sign clientSignBox"> &nbsp;(서명 또는 인)</span></span></div>
                                    <div class="hls ps45"
                                        style="line-height:1.31mm;white-space:nowrap;left:2.65mm;top:7.57mm;height:1.76mm;width:170.79mm;">
                                    </div>
                                    <div class="hls ps46"
                                        style="line-height:2.48mm;white-space:nowrap;left:2.65mm;top:9.80mm;height:3.17mm;width:170.79mm;">
                                        <span class="hrt cs36">※&nbsp;</span><span class="hrt cs38">신청인이 수급자
                                            본인·가족,&nbsp;</span><span class="hrt cs42">사회복지전담공무원, 치매안심센터의 장(수급자가 치매환자인
                                            경우로&nbsp;</span><span class="hrt cs39">한정</span><span
                                            class="hrt cs40">합니다)</span><span class="hrt cs41">, 특별</span></div>
                                    <div class="hls ps46"
                                        style="padding-left:4.64mm;line-height:2.48mm;white-space:nowrap;left:2.65mm;top:13.94mm;height:3.17mm;width:170.79mm;">
                                        <span class="hrt cs41">자치시장·특별자치도지사·시장·군수·구청장이 지정한 사람 외의 이해관계인인 경우에는</span><span
                                            class="hrt cs38">&nbsp;수급자의 동의를 받아야 합니다.</span><span
                                            class="hrt cs12">&nbsp;</span></div>
                                    <div class="hls ps52"
                                        style="line-height:1.31mm;white-space:nowrap;left:2.65mm;top:18.14mm;height:1.76mm;width:170.79mm;">
                                    </div>
                                    <div class="hls ps45"
                                        style="line-height:2.48mm;white-space:nowrap;left:2.65mm;top:22.14mm;height:3.17mm;width:170.79mm;">
                                        <span class="hrt cs41">&nbsp;&nbsp;수급자(또는 보호자):<span class="name resident_name"></span><span style="position:relative;" class="pdfsign clientSignBox"> &nbsp;(서명 또는 인)</span></span></div>
                                    <div class="hls ps45"
                                        style="line-height:1.31mm;white-space:nowrap;left:2.65mm;top:28.11mm;height:1.76mm;width:170.79mm;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:0mm;top:179.31mm;width:19.63mm;height:7.67mm;">
                            <div class="hcD" style="left:0.49mm;top:0.49mm;">
                                <div class="hcI" style="top:1.58mm;">
                                    <div class="hls ps47"
                                        style="line-height:2.79mm;white-space:nowrap;left:1.76mm;top:-0.18mm;height:3.53mm;width:15.13mm;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:19.63mm;top:179.31mm;width:136.76mm;height:7.67mm;">
                            <div class="hcD" style="left:0.49mm;top:0.49mm;">
                                <div class="hcI" style="top:1.58mm;">
                                    <div class="hls ps47"
                                        style="line-height:2.79mm;white-space:nowrap;left:1.76mm;top:-2.00mm;height:3.53mm;width:132.26mm;">
                                        <span class="hrt cs56"><textarea type="text" class="inputtxt2" placeholder="기관명작성">OO특별자치시장·특별자치도지사·시장·군수·구청장</textarea></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:156.40mm;top:179.31mm;width:18.02mm;height:7.67mm;">
                            <div class="hcD" style="left:0.49mm;top:0.49mm;">
                                <div class="hcI" style="top:1mm;">
                                    <div class="hls ps27"
                                        style="line-height:3.86mm;white-space:nowrap;left:1.06mm;top:0mm;height:4.70mm;width:14.93mm;">
                                        <span class="hrt cs57">귀하</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:0mm;top:186.97mm;width:174.42mm;height:1.80mm;">
                            <div class="hcD" style="left:0.49mm;top:0.49mm;">
                                <div class="hcI" style="top:0.24mm;">
                                    <div class="hls ps27"
                                        style="line-height:0.25mm;white-space:nowrap;left:1.06mm;top:-0.02mm;height:0.35mm;width:171.32mm;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:0mm;top:188.77mm;width:19.63mm;height:7.46mm;">
                            <div class="hcD" style="left:0.49mm;top:0.49mm;">
                                <div class="hcI">
                                    <div class="hls ps4"
                                        style="line-height:2.17mm;white-space:nowrap;left:0mm;top:-0.14mm;height:2.82mm;width:18.65mm;">
                                        <span class="hrt cs7">신청인</span></div>
                                    <div class="hls ps4"
                                        style="line-height:2.17mm;white-space:nowrap;left:0mm;top:3.53mm;height:2.82mm;width:18.65mm;">
                                        <span class="hrt cs7">제출서류</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:19.63mm;top:188.77mm;width:136.76mm;height:7.46mm;">
                            <div class="hcD" style="left:0.49mm;top:0.49mm;">
                                <div class="hcI" style="top:1.83mm;">
                                    <div class="hls ps2"
                                        style="line-height:2.17mm;white-space:nowrap;left:0mm;top:-0.14mm;height:2.82mm;width:135.79mm;">
                                        <span class="hrt cs7">&nbsp;장기요양인정서 사본</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:156.40mm;top:188.77mm;width:18.02mm;height:18.60mm;">
                            <div class="hcD" style="left:0.49mm;top:0.49mm;">
                                <div class="hcI" style="top:3.73mm;">
                                    <div class="hls ps4"
                                        style="line-height:2.17mm;white-space:nowrap;left:0mm;top:-0.14mm;height:2.82mm;width:17.05mm;">
                                        <span class="hrt cs7">수수료&nbsp;</span></div>
                                    <div class="hls ps4"
                                        style="line-height:2.17mm;white-space:nowrap;left:0mm;top:3.53mm;height:2.82mm;width:17.05mm;">
                                    </div>
                                    <div class="hls ps4"
                                        style="line-height:2.17mm;white-space:nowrap;left:0mm;top:7.20mm;height:2.82mm;width:17.05mm;">
                                        <span class="hrt cs7">없 음</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:0mm;top:196.24mm;width:19.63mm;height:11.13mm;">
                            <div class="hcD" style="left:0.49mm;top:0.49mm;">
                                <div class="hcI" style="top:1.83mm;">
                                    <div class="hls ps4"
                                        style="line-height:2.17mm;white-space:nowrap;left:0mm;top:-0.14mm;height:2.82mm;width:18.65mm;">
                                        <span class="hrt cs7">담당 공무원</span></div>
                                    <div class="hls ps4"
                                        style="line-height:2.17mm;white-space:nowrap;left:0mm;top:3.53mm;height:2.82mm;width:18.65mm;">
                                        <span class="hrt cs7">확인사항</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:19.63mm;top:196.24mm;width:136.76mm;height:11.13mm;">
                            <div class="hcD" style="left:0.49mm;top:0.49mm;">
                                <div class="hcI">
                                    <div class="hls ps2"
                                        style="line-height:2.17mm;white-space:nowrap;left:0mm;top:-0.14mm;height:2.82mm;width:135.79mm;">
                                        <span class="hrt cs7">1. 주민등록표 등·초본</span></div>
                                    <div class="hls ps2"
                                        style="line-height:2.17mm;white-space:nowrap;left:0mm;top:3.53mm;height:2.82mm;width:135.79mm;">
                                        <span class="hrt cs7">2.「의료급여법」 제3조제1항제1호에 따른 의료급여를 받는 사람의 경우 의료급여수급자
                                            증명서,&nbsp;</span></div>
                                    <div class="hls ps2"
                                        style="line-height:2.17mm;white-space:nowrap;left:0mm;top:7.20mm;height:2.82mm;width:135.79mm;">
                                        <span class="hrt cs13">&nbsp;&nbsp;「의료급여법」 제3조제1항제1호 외의 규정에 따른 의료급여를 받는 사람의 경우
                                            의료보호증</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:0mm;top:207.37mm;width:174.42mm;height:2.38mm;">
                            <div class="hcD" style="left:0.49mm;top:0.49mm;">
                                <div class="hcI">
                                    <div class="hls ps8"
                                        style="line-height:1.03mm;white-space:nowrap;left:0mm;top:-0.07mm;height:1.41mm;width:173.44mm;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:0mm;top:209.75mm;width:174.42mm;height:5.32mm;">
                            <div class="hcD" style="left:0.49mm;top:0.49mm;">
                                <div class="hcI" style="top:0.23mm;">
                                    <div class="hls ps14"
                                        style="line-height:3.10mm;white-space:nowrap;left:0mm;top:-0.19mm;height:3.88mm;width:173.44mm;">
                                        <span class="hrt cs32">행정정보 공동이용 동의서</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:0mm;top:215.07mm;width:174.42mm;height:16.55mm;">
                            <div class="hcD" style="left:0.49mm;top:0.49mm;">
                                <div class="hcI">
                                    <div class="hls ps44"
                                        style="line-height:2.48mm;white-space:nowrap;left:0mm;top:-0.16mm;height:3.17mm;width:173.44mm;">
                                        <span class="hrt cs6">&nbsp;&nbsp;</span><span class="hrt cs33">본인은 이 건 업무처리와
                                            관련하여 담당 공무원이 「전자정부법」 제36조제1항에 따른 행정정보의 공동이용&nbsp;</span><span
                                            class="hrt cs34">및</span><span class="hrt cs35">&nbsp;</span><span
                                            class="hrt cs34">사회복지통합전산</span></div>
                                    <div class="hls ps44"
                                        style="padding-left:2.40mm;line-height:2.48mm;white-space:nowrap;left:0mm;top:3.98mm;height:3.17mm;width:173.44mm;">
                                        <span class="hrt cs34">망을 통하여 뒤쪽의 담당 공무원 확인사항을 확인하는 것에 동의합니다.</span></div>
                                    <div class="hls ps44"
                                        style="line-height:2.48mm;white-space:nowrap;left:0mm;top:8.11mm;height:3.17mm;width:173.44mm;">
                                    </div>
                                    <div class="hls ps2"
                                        style="line-height:2.48mm;white-space:nowrap;left:0mm;top:12.24mm;height:3.17mm;width:173.44mm;">
                                        <span class="hrt cs28">&nbsp;&nbsp;</span><span class="hrt cs29">※ 동의하지 않거나 확인이
                                            되지 않는 경우에는 수급자(또는 보호자)가 직접 관련 서류를 제출해야 합니다.</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:0mm;top:231.63mm;width:127.32mm;height:5.91mm;">
                            <div class="hcD" style="left:0.49mm;top:0.49mm;">
                                <div class="hcI">
                                    <div class="hls ps45"
                                        style="line-height:2.48mm;white-space:nowrap;left:2.65mm;top:1.61mm;height:3.17mm;width:123.69mm;">
                                        <span class="hrt cs41">수급자(또는 보호자):</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:127.32mm;top:231.63mm;width:23.73mm;height:5.91mm;">
                            <div class="hcD" style="left:0.49mm;top:0.49mm;">
                                <div class="hcI" style="top:0.36mm;">
                                    <div class="hls ps16"
                                        style="line-height:3.42mm;white-space:nowrap;left:0mm;top:0mm;height:4.23mm;width:22.76mm;">
                                        <span class="hrt cs41">&nbsp;&nbsp;&nbsp;<span class="name resident_name"></span></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:151.06mm;top:231.63mm;width:23.36mm;height:5.91mm; overflow: unset;">
                            <div class="hcD" style="left:0.49mm;top:0.49mm;">
                                <div class="hcI" style="top:1.76mm;">
                                    <div class="hls ps8"
                                        style="line-height:2.48mm;white-space:nowrap;left:0mm;top:-0.16mm;height:3.17mm;width:22.38mm;">
                                        <span style="position:relative;" class="hrt cs41 pdfsign resident_sign clientSignBox">(서명 또는 인)</span><span class=""></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:0mm;top:237.54mm;width:174.42mm;height:2.38mm;">
                            <div class="hcD" style="left:0.49mm;top:0.49mm;">
                                <div class="hcI">
                                    <div class="hls ps20"
                                        style="line-height:1.03mm;white-space:nowrap;left:0mm;top:-0.07mm;height:1.41mm;width:173.44mm;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:0mm;top:239.92mm;width:174.42mm;height:4.73mm;">
                            <div class="hcD" style="left:0.50mm;top:0mm;">
                                <div class="hcI" style="top:0.35mm;">
                                    <div class="hls ps4"
                                        style="line-height:2.79mm;white-space:nowrap;left:0mm;top:-0.18mm;height:3.53mm;width:173.43mm;">
                                        <span class="hrt cs17">처 리 절 차</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:0mm;top:244.65mm;width:174.42mm;height:1.33mm;">
                            <div class="hcD" style="left:0.49mm;top:0.49mm;">
                                <div class="hcI">
                                    <div class="hls ps14"
                                        style="line-height:0.25mm;white-space:nowrap;left:0mm;top:-0.02mm;height:0.35mm;width:173.44mm;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:0mm;top:245.98mm;width:31.41mm;height:7.70mm;">
                            <div class="hcD" style="left:0.49mm;top:0.49mm;">
                                <div class="hcI" style="top:1.95mm;">
                                    <div class="hls ps14"
                                        style="line-height:2.17mm;white-space:nowrap;left:0mm;top:-0.14mm;height:2.82mm;width:30.42mm;">
                                        <span class="hrt cs8">신청서 작성</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:31.41mm;top:245.98mm;width:7.45mm;height:7.70mm;">
                            <div class="hcD" style="left:0.49mm;top:0.49mm;">
                                <div class="hcI" style="top:1.77mm;">
                                    <div class="hls ps7"
                                        style="line-height:2.48mm;white-space:nowrap;left:0mm;top:-0.16mm;height:3.17mm;width:6.46mm;">
                                        <span class="hrt cs9"></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:38.85mm;top:245.98mm;width:42.39mm;height:7.70mm;">
                            <div class="hcD" style="left:0.49mm;top:0.49mm;">
                                <div class="hcI" style="top:1.95mm;">
                                    <div class="hls ps6"
                                        style="line-height:2.17mm;white-space:nowrap;left:0mm;top:-0.14mm;height:2.82mm;width:41.42mm;">
                                        <span class="hrt cs8">접수 및 확인</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:81.24mm;top:245.98mm;width:6.45mm;height:7.70mm;">
                            <div class="hcD" style="left:0.49mm;top:0.49mm;">
                                <div class="hcI" style="top:1.77mm;">
                                    <div class="hls ps7"
                                        style="line-height:2.48mm;white-space:nowrap;left:0mm;top:-0.16mm;height:3.17mm;width:5.48mm;">
                                        <span class="hrt cs9"></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:87.69mm;top:245.98mm;width:37.40mm;height:7.70mm;">
                            <div class="hcD" style="left:0.49mm;top:0.49mm;">
                                <div class="hcI" style="top:0.12mm;">
                                    <div class="hls ps5"
                                        style="line-height:2.17mm;white-space:nowrap;left:0mm;top:-0.14mm;height:2.82mm;width:36.42mm;">
                                        <span class="hrt cs11">장기요양기관에</span></div>
                                    <div class="hls ps5"
                                        style="line-height:2.17mm;white-space:nowrap;left:0mm;top:3.53mm;height:2.82mm;width:36.42mm;">
                                        <span class="hrt cs8">의뢰서 송부</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:125.09mm;top:245.98mm;width:7.45mm;height:7.70mm;">
                            <div class="hcD" style="left:0.49mm;top:0.49mm;">
                                <div class="hcI" style="top:1.77mm;">
                                    <div class="hls ps4"
                                        style="line-height:2.48mm;white-space:nowrap;left:0mm;top:-0.16mm;height:3.17mm;width:6.46mm;">
                                        <span class="hrt cs9"></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:132.54mm;top:245.98mm;width:41.88mm;height:7.70mm;">
                            <div class="hcD" style="left:0.49mm;top:0.49mm;">
                                <div class="hcI" style="top:1.95mm;">
                                    <div class="hls ps5"
                                        style="line-height:2.17mm;white-space:nowrap;left:0mm;top:-0.14mm;height:2.82mm;width:40.91mm;">
                                        <span class="hrt cs8">통지</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:0mm;top:253.68mm;width:31.41mm;height:7.90mm;">
                            <div class="hcD" style="left:0.49mm;top:0.49mm;">
                                <div class="hcI" style="top:2.05mm;">
                                    <div class="hls ps4"
                                        style="line-height:2.17mm;white-space:nowrap;left:0mm;top:-0.14mm;height:2.82mm;width:30.42mm;">
                                        <span class="hrt cs7">신청인</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:31.41mm;top:253.68mm;width:7.45mm;height:7.90mm;">
                            <div class="hcD" style="left:0.49mm;top:0.49mm;">
                                <div class="hcI" style="top:2.05mm;">
                                    <div class="hls ps4"
                                        style="line-height:2.17mm;white-space:nowrap;left:0mm;top:-0.14mm;height:2.82mm;width:6.46mm;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:38.85mm;top:253.68mm;width:42.39mm;height:7.90mm;">
                            <div class="hcD" style="left:0.49mm;top:0.49mm;">
                                <div class="hcI" style="top:0.50mm;">
                                    <div class="hls ps15"
                                        style="line-height:2.17mm;white-space:nowrap;left:0mm;top:-0.14mm;height:2.82mm;width:41.42mm;">
                                        <span class="hrt cs19">처 리 기 관</span></div>
                                    <div class="hls ps15"
                                        style="line-height:2.17mm;white-space:nowrap;left:0mm;top:2.96mm;height:2.82mm;width:41.42mm;">
                                        <span class="hrt cs7">(특별자치시·도,&nbsp;</span><span class="hrt cs19">시·군·구)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:81.24mm;top:253.68mm;width:6.45mm;height:7.90mm;">
                            <div class="hcD" style="left:0.49mm;top:0.49mm;">
                                <div class="hcI" style="top:2.05mm;">
                                    <div class="hls ps15"
                                        style="line-height:2.17mm;white-space:nowrap;left:0mm;top:-0.14mm;height:2.82mm;width:5.48mm;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:87.69mm;top:253.68mm;width:37.40mm;height:7.90mm;">
                            <div class="hcD" style="left:0.49mm;top:0.49mm;">
                                <div class="hcI" style="top:0.50mm;">
                                    <div class="hls ps15"
                                        style="line-height:2.17mm;white-space:nowrap;left:0mm;top:-0.14mm;height:2.82mm;width:36.42mm;">
                                        <span class="hrt cs19">처 리 기 관</span></div>
                                    <div class="hls ps15"
                                        style="line-height:2.17mm;white-space:nowrap;left:0mm;top:2.96mm;height:2.82mm;width:36.42mm;">
                                        <span class="hrt cs7">(특별자치시·도,&nbsp;</span><span class="hrt cs19">시·군·구)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:125.09mm;top:253.68mm;width:7.45mm;height:7.90mm;">
                            <div class="hcD" style="left:0.49mm;top:0.49mm;">
                                <div class="hcI" style="top:2.05mm;">
                                    <div class="hls ps15"
                                        style="line-height:2.17mm;white-space:nowrap;left:0mm;top:-0.14mm;height:2.82mm;width:6.46mm;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:132.54mm;top:253.68mm;width:41.88mm;height:7.90mm;">
                            <div class="hcD" style="left:0.49mm;top:0.49mm;">
                                <div class="hcI" style="top:2.05mm;">
                                    <div class="hls ps14"
                                        style="line-height:2.17mm;white-space:nowrap;left:0mm;top:-0.14mm;height:2.82mm;width:40.91mm;">
                                        <span class="hrt cs8">신청인</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="hce" style="left:0mm;top:261.58mm;width:174.42mm;height:3.82mm;">
                            <div class="hcD" style="left:0.49mm;top:0.49mm;">
                                <div class="hcI" style="top:0.02mm;">
                                    <div class="hls ps8"
                                        style="line-height:2.17mm;white-space:nowrap;left:0mm;top:-0.14mm;height:2.82mm;width:173.44mm;">
                                        <span class="hrt cs7">210mm×297mm[백상지(80g/㎡) 또는 중질지(80g/㎡)]</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>